<form nz-form [formGroup]="accountingPointForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="branchOfficeId">ЦОК</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Не обрано ЦОК">
      <nz-select nzPlaceHolder="Виберіть ЦОК" formControlName="branchOfficeId" (ngModelChange)="getCities($event)">
        <nz-option *ngFor="let branchOffice of branchOfficesList" [nzValue]="branchOffice.id"
          [nzLabel]="branchOffice.name">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="name">EIC</nz-form-label>
    <nz-form-control [nzSpan]="12" [nzErrorTip]="eicErrorTpl">
      <input id="eic" type="text" nz-input formControlName="eic"/>
      <ng-template #eicErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Не введено EIC
        </ng-container>
        <ng-container *ngIf="control.hasError('maxLength') || control.hasError('minLength')">
          Довжина EIC повинна бути - 16 символів
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="name">Назва (особовий рахунок)</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Не введено назву (особового рахунку) точки обліку">
      <input id="name" type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzFor="dsoId" nzRequired>Оператор системи розподілу</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Не обрано оператора системи розподілу">
      <nz-select nzPlaceHolder="Оберіть оператора системи розподілу" formControlName="dsoId">
        <nz-option *ngFor="let distributionSystemOperator of distributionSystemOperatorsList"
          [nzValue]="distributionSystemOperator.id" [nzLabel]="distributionSystemOperator.name">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzFor="tariffId" nzRequired>Тариф</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Не обрано тариф">
      <nz-select nzPlaceHolder="Оберіть тариф" formControlName="tariffId">
        <nz-option *ngFor="let tariff of tariffsList" [nzValue]="tariff.id" [nzLabel]="tariff.name">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="city">Населений пункт</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Не введено назву міста">
      <nz-select nzPlaceHolder="Оберіть населений пункт" formControlName="city" (ngModelChange)="getStreets($event)">
        <nz-option *ngFor="let city of citiesList" [nzValue]="city.id" [nzLabel]="city.isRegionCity ? city.name : city.name + ', ' + city.districtName">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <div formGroupName="address">
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired nzFor="streetId">Вулиця</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Не введено назва вулиці">
        <nz-select nzPlaceHolder="Оберіть вулицю" formControlName="streetId">
          <nz-option *ngFor="let street of streetsList" [nzValue]="street.id" [nzLabel]="street.name">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <div nz-row>
      <div nz-col [nzSpan]="7">
        <nz-form-item>
          <nz-form-label [nzSpan]="17" nzRequired nzFor="building">Будинок</nz-form-label>
          <nz-form-control [nzSpan]="6" nzErrorTip="Не введено номер будинку">
            <input id="building" type="text" nz-input formControlName="building" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="4">
        <nz-form-item>
          <nz-form-label [nzSpan]="12" nzFor="apt">Квартира</nz-form-label>
          <nz-form-control [nzSpan]="10">
            <input id="apt" type="text" nz-input formControlName="apt" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="9" nzRequired nzFor="zip">Поштовий індекс</nz-form-label>
          <nz-form-control [nzSpan]="4" nzErrorTip="Не введено індекс">
            <input id="zip" type="text" nz-input formControlName="zip"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="buildingTypeId">Тип будівлі</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Не обрано тип будівлі">
      <nz-select nzPlaceHolder="Оберіть тип будівлі" formControlName="buildingTypeId">
        <nz-option *ngFor="let type of buildingTypes" [nzValue]="type.id" [nzLabel]="type.name">
      </nz-option>
    </nz-select>
    </nz-form-control>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="usageCategoryId">Категорія споживання</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Не обрано категорія споживання">
      <nz-select nzPlaceHolder="Оберіть категорію споживання" formControlName="usageCategoryId">
        <nz-option *ngFor="let category of usageCategories" [nzValue]="category.id" [nzLabel]="category.name">
      </nz-option>
    </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="contractStartDate">Дата заключення договору</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Не обрано дату заключення договру">
      <nz-date-picker [nzFormat]="dateFormat" formControlName="contractStartDate" [nzDisabledDate]="datesMoreToday"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="12" [nzOffset]="5">
      <label nz-checkbox formControlName="sendPaperBill">Отримувати паперову квитанцію</label>
    </nz-form-control>
  </nz-form-item>

  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzXs="17" nzSm="17" nzMd="14" nzLg="6" nzXl="5" nzXXl="4">
      <button nz-button type="button" nzType="primary" (click)="personComponentTrigger()">Додати нового споживача</button>
    </div>
    <div nz-col nzXs="17" nzSm="17" nzMd="14" nzLg="2" nzXl="2" nzXXl="2">
      <span> - або - </span>
    </div>
    <div nz-col nzXs="17" nzSm="17" nzMd="14" nzLg="12" nzXl="11" nzXXl="11">
      <nz-form-item>
        <nz-form-control nzErrorTip="Не обрано споживача">
          <nz-select 
            nzShowSearch
            nzServerSearch
            formControlName="searchPerson"
            nzPlaceHolder="Пошук за паспортом або ІПН"
            (ngModelChange)="setPerson($event)"
            (nzOnSearch)="searchPerson($event)"
            [nzCustomTemplate]="personTemplate" 
            [nzLoading]="isLoadingSearch"
            [nzOptionHeightPx]="54"
            nzOptionOverflowSize="3">
              <nz-option nzCustomContent *ngFor="let person of foundPersons" [nzLabel]="person" [nzValue]="person">
                <b>ПІБ:</b> {{person.lastName}} {{person.firstName}} {{person.patronymic}} <br/>
                <b>Номер паспорта:</b> {{person.idCardNumber}} <b>Іден. номер:</b> {{person.taxCode}}
              </nz-option>
            </nz-select>
            <ng-template #personTemplate let-person>
              <span>
                {{ person.nzLabel.lastName }} {{ person.nzLabel.firstName }} {{ person.nzLabel.patronymic }}
                <b>{{ person.nzLabel.taxCode }} : {{ person.nzLabel.idCardNumber }}</b>
              </span>
            </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <app-person [visibility]="isVisiblePersonComponent"></app-person>

  <nz-form-item>
    <nz-form-control [nzSpan]="7" [nzOffset]="4">
      <button nz-button nzType="primary" [nzLoading]="isLoadingSubmit">Зберегти</button>
      <button nz-button (click)="resetForm()">Очистити</button>
    </nz-form-control>
  </nz-form-item>
</form>