nz-select {
    display: block;
    width: 100%;
}

[nz-form]:not(.ant-form-inline):not(.ant-form-vertical) {
    margin: 0 auto;
    max-width: 1700px;
}

nz-form-control button {
    margin: 6px;
}

.search-person {
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    padding: 12px;
    margin: 4px 29.222222% 24px 20.83333333%;
    background: rgb(61,144,255);
background: linear-gradient(90deg, rgba(61,144,255,0.11668417366946782) 0%, rgba(0,137,236,0.25674019607843135) 100%);
}