<div *ngIf="accountingPoint$ | async as a">
    <nz-page-header nzBackIcon [nzGhost]="false">
        <nz-page-header-title>Title</nz-page-header-title>
        <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle>
        <nz-page-header-extra>
          <button nz-button>Operation</button>
          <button nz-button>Operation</button>
          <button nz-button nzType="primary">Primary</button>
        </nz-page-header-extra>
    </nz-page-header>
    <nz-collapse>
        <nz-collapse-panel nzHeader="Загальна інформація" nzActive="true" class="general-info">
            <nz-descriptions>
                <nz-descriptions-item nzTitle="Філія">{{a.branchOfficeName}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Оператор системи розподілу">{{a.distributionSystemOperatorName}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="EIC">{{a.eic}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Особовий рахунок">{{a.name}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Адреса">{{a.addressStreetLocation + ', '+ a.addressCityName + ', '+ a.addressZip}}
                </nz-descriptions-item>
                <nz-descriptions-item [nzTitle]="a.debt < 0 ? 'Залишок': 'Борг'"><span
                        [ngStyle]="{'color': (a.debt < 0 ? 'blue' : 'red')}">{{(a.debt < 0 ? 1-a.debt : a.debt) | currency:'UAH':'грн.'}}</span>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Діючий тариф">{{a.currentTariffName}}</nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions nzTitle="Власник">
                <nz-descriptions-item nzTitle="ПІБ">{{a.owner.fullName}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Паспорт">{{a.owner.idCardNumber}}</nz-descriptions-item>
                <nz-descriptions-item *ngIf="a.owner.idCardExpDate; else issuanceDate" nzTitle="Дійсний до">
                    {{a.owner.idCardExpDate | date:'mediumDate'}}
                </nz-descriptions-item>
                <ng-template #issuanceDate>
                    <nz-descriptions-item nzTitle="Виданий">{{a.owner.idCardIssuanceDate | date:'mediumDate'}}
                    </nz-descriptions-item>
                </ng-template>
                <nz-descriptions-item nzTitle="Ідентифікаційний код">{{a.owner.taxCode}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Мобільні телефони"><span *ngFor="let ph of a.owner.mobilePhones; last as isLast">{{ph + (isLast ? '' : ',')}}
                    </span></nz-descriptions-item>
                <nz-descriptions-item nzTitle="Договір про постачання від">
                    {{a.currentContractStartDate | date:'mediumDate'}}</nz-descriptions-item>
            </nz-descriptions>
        </nz-collapse-panel>
        <nz-collapse-panel nzHeader="Рахунки" class="invoices-info">

        </nz-collapse-panel>
        <nz-collapse-panel nzHeader="Платежі" class="payments-info">

        </nz-collapse-panel>
    </nz-collapse>

</div>
<!-- branchOfficeName: string
    name: string
    distributionSystemOperatorName: number
    tarriffName: string
    addressCityName: string
    adressStreetLocation: string
    owner: Person
    eic: string
    contractDate: Date
    debt: number
    mobilePhones: string[] -->