<nz-card nzTitle="Персона" *ngIf="visibility">
  <form nz-form [formGroup]="personForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired nzFor="idCardNumber">Номер паспорту</nz-form-label>
      <nz-form-control [nzSpan]="10" nzErrorTip="Не введено номер паспорту">
        <input type="text" nz-input formControlName="idCardNumber"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired nzFor="idCardIssuer">Ким виданий</nz-form-label>
      <nz-form-control [nzSpan]="10" nzErrorTip="Не введено ким виданий">
        <input type="text" nz-input formControlName="idCardIssuer"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired nzFor="idCardIssuanceDate">Дата видачі</nz-form-label>
      <nz-form-control [nzSpan]="10" nzErrorTip="Не обрано дату видачі">
        <nz-date-picker nzFormat="dd.MM.yyyy" formControlName="idCardIssuanceDate" [nzDisabledDate]="datesMoreToday"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item *ngIf="personForm.get('idCardNumber')?.value?.length > 8">
      <nz-form-label [nzSpan]="7" [nzRequired]="personForm.get('idCardNumber')?.value?.length > 8" nzFor="idCardExpDate">Дата закінчення ID картки</nz-form-label>
      <nz-form-control [nzSpan]="10" nzErrorTip="Не обрано дату закінчення ID картки">
        <nz-date-picker nzFormat="dd.MM.yyyy" formControlName="idCardExpDate" [nzDisabledDate]="datesLessToday"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="taxCode">ІНН</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <input type="text" nz-input formControlName="taxCode"/>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired nzFor="firstName">Ім'я</nz-form-label>
        <nz-form-control [nzSpan]="10" nzErrorTip="Не введено ім'я">
          <input type="text" nz-input formControlName="firstName"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired nzFor="lastName">Прізвище</nz-form-label>
        <nz-form-control [nzSpan]="10" nzErrorTip="Не введено прізвище">
          <input type="text" nz-input formControlName="lastName"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired nzFor="patronymic">По батькові</nz-form-label>
        <nz-form-control [nzSpan]="10" nzErrorTip="Не введено по батькові">
          <input type="text" nz-input formControlName="patronymic"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="mobilePhones">Номери мобільних телефонів</nz-form-label>
        <nz-form-control [nzSpan]="10" nzErrorTip="Не введено жодного номера телефону">
          <nz-select formControlName="mobilePhones" nzMode="tags" [nzTokenSeparators]="[',']"></nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="email">Електронна пошта (email)</nz-form-label>
        <nz-form-control [nzSpan]="10" nzErrorTip="Не введено адресу електронної пошти">
          <input type="email" nz-input formControlName="email"/>
        </nz-form-control>
      </nz-form-item>
  </form>
</nz-card>