
<button nz-button nzType="primary" (click)="add()" >Додати</button>
<nz-table #paymentChannelsTable [nzData]="paymentChannels" nzSize="small">
  <thead>
    <tr>
      <th>Name</th>
      <th>RecordpointFieldName</th>
      <th>SumFieldName</th>
      <th>DateFieldName</th>
      <th>TextDateFormat</th>
      <th>PersonFieldName</th>
      <th>TotalRecord</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pc of paymentChannelsTable.data">
      <td>{{pc.name}}</td>
      <td>{{pc.recordpointFieldName}}</td>
      <td>{{pc.sumFieldName}}</td>
      <td>{{pc.dateFieldName}}</td>
      <td>{{pc.textDateFormat}}</td>
      <td>{{pc.personFieldName}}</td>
      <td>{{pc.totalRecord}}</td>
      <td>{{pc.type}}</td>
      <td>
        <a><i nz-icon nzType="edit" (click)="edit(paymentChannels, pc)" nzTheme="outline"></i></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzPopconfirmTitle="Впевнені що хочете видалити?" (nzOnConfirm)="delete(pc.id)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
      </td>
    </tr>
  </tbody>
</nz-table>
<app-payment-channel-modal></app-payment-channel-modal>