<h2>Завнтаження споживання по точкам обліку</h2>
<div nz-row [nzGutter]="[0, 20]">
  <div class="inner-box">
    <nz-upload nzListType="picture-card" [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzMultiple]="true"
      [nzShowUploadList]="{ showPreviewIcon: false, showRemoveIcon: true }" [nzRemove]="removeHandler"
      nzAccept=".xls,.xlsx">
      <i nz-icon nzType="plus"></i>
      <div class="ant-upload-text">Додати файл</div>
    </nz-upload>
  </div>
</div>
<div nz-row [nzGutter]="[0, 20]">
  <div nz-col nzSpan="8">
    <button nz-button nzType="primary" (click)=onSubmit() [nzLoading]="isSubmitLoading" [disabled]="isSubmitDisabled">Завантажити</button>
  </div>
</div>
<br/>
<div nz-col nzSpan="24">
    <nz-table #problematicRecordsTable 
      [nzData]="problematicDisplayRecords" 
      [nzTitle]="titleTemplate"
      nzBordered="true"
      nzShowSizeChanger
      nzSize="small">
      <ng-template #titleTemplate>
        <nz-row nzJustify="space-between" nzAlign="middle">
          <nz-col>
            <span>Список проблемних записів</span>
          </nz-col>
          <nz-col>
            <nz-space>
              <nz-space-item>
                <ng-template #suffixIconSearch>
                  <i nz-icon nzType="search"></i>
                </ng-template>
              </nz-space-item>
            </nz-space>
          </nz-col>
        </nz-row>
      </ng-template>
      <thead>
        <tr>
          <th>Файл</th>
          <th>Eic</th>
          <th>Рядок</th>
          <th>Помилка</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let pr of problematicRecordsTable.data">
          <tr *ngFor="let error of pr.errors">
            <td>{{ pr.fileName }}</td>
            <td>{{ error.eic }}</td>
            <td>{{ error.rowNumber }}</td>
            <td>{{ error.errorMessage }}</td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
</div>