<nz-table #nestedTable [nzData]="tariffs" [nzShowPagination]="false" nzTitle="Тарифи на електроенергію">
    <thead>
        <tr>
            <th nzShowExpand></th>
            <th width="80%">Назва</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nestedTable.data">
            <tr>
                <td nzShowExpand [(nzExpand)]="data.expand"></td>
                <td>
                    <ng-container *ngIf="editRowId!=data.id; else nameInputTpl">
                        {{ data.name }}
                    </ng-container>
                    <ng-template #nameInputTpl>
                        <input type="text" nz-input [(ngModel)]="data.name" />
                    </ng-template>
                </td>
                <td>
                    <a title="Редагувати запис"><i nz-icon nzType="edit" nzTheme="outline" *ngIf="editRowId!=data.id; else saveCancelBtnsTpl" (click)="editRowId=data.id" class="edit-icon"></i></a>
                    <ng-template #saveCancelBtnsTpl>
                        <a title="Зберегти"><i nz-icon nzType="save" nzTheme="outline" class="edit-icon" (click)="updateTariff(data)"></i></a>
                        <a title="Скасувати"><i nz-icon nzType="undo" nzTheme="outline" class="edit-icon" (click)="editRowId=-1"></i></a>
                    </ng-template>
                </td>
            </tr>
            <tr [nzExpand]="data.expand">
                <td></td>
                <td colspan="7">
                    <nz-table #innerTable [nzData]="data.rates" nzSize="middle" [nzShowPagination]="false">
                        <thead>
                            <tr>
                                <th>Дата початку дії</th>
                                <th>Значення, Грн.</th>
                                <th>Обсяг споживання, Грн.</th>
                                <th>Значення в оплювальний перріод, Грн.</th>
                                <th>Обсяг споживання в оплювальний перріод, Квт год.</th>
                                <th>Почтаок опалювального перріоду</th>
                                <th>Кінець опалювального перріоду</th>
                            </tr>
                        </thead>
    <tbody>
        <tr *ngFor="let data of innerTable.data">
            <td>{{ data.date }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.date }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.date }}</td>
            <td>
                <nz-badge [nzStatus]="'success'" [nzText]="'Finished'"></nz-badge>
            </td>
            <td>{{ data.upgradeNum }}</td>
            <td>
                <span class="table-operation">
                    <a nz-dropdown class="operation" [nzDropdownMenu]="menu">
                        Pause <i nz-icon nzType="down"></i>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item>
                                <a>Action 1</a>
                            </li>
                            <li nz-menu-item>
                                <a>Action 2</a>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a class="operation">Stop</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a>More</a>
                </span>
            </td>
        </tr>
    </tbody>
</nz-table>
</td>
</tr>
</ng-template>
</tbody>
</nz-table>