<nz-table #nestedTable [nzData]="invoices" [nzPageSize]="pageSize" [nzFrontPagination]="false" [nzLoading]="loading"
    [nzTotal]="total" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)" nzSize="small">
    <thead>
        <tr>
            <th></th>
            <th>Період нарахувань</th>
            <th>Вхідне сальдо</th>
            <th>{{'Спожито,' | unit:commodity}}</th>
            <th>Нараховано, Грн.</th>
            <th>Пільга, Грн.</th>
            <th>До сплати, Грн.</th>
            <th>Оплачений</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nestedTable.data">
            <tr>
                <td [(nzExpand)]="data.isExpand"></td>
                <td>{{ data.fromDate | date:'mediumDate' }} - {{ data.toDate | date:'mediumDate' }}</td>
                <td>{{ data.incomingBalance | number : '1.2' }}</td>
                <td>{{ data.totalUnits }}</td>
                <td>{{ data.totalCharge | number : '1.2' }}</td>
                <td>{{ data.totalDiscount | number : '1.2' }}</td>
                <td>{{ data.totalAmountDue | number : '1.2' }}</td>
                <td>
                  <i [title]="data.isPaid ? 'Так' : 'Ні'" nz-icon [nzType]="data.isPaid ? 'check-circle' : 'stop'"
                        nzTheme="twotone" [nzTwotoneColor]="data.isPaid ? '#52c41a':'#e4521a'"></i>
                </td>
                <td>
                  <i *ngIf="isGetBill.has(data.id) else elseBill" nz-icon nzType="loading"></i>
                  <ng-template #elseBill>
                    <a (click)="getBillFile(data.id)" title="Друк рахунку на оплату"><i nz-icon nzType="printer" nzTheme="outline"></i></a>
                  </ng-template>
                </td>
            </tr>
            <tr [nzExpand]="data.isExpand">
                <nz-table #innerTable [nzData]="data.zoneUsages" [nzShowPagination]="false">
                    <thead class="height: 20px">
                      <tr>
                        <th *ngIf="data.zoneUsages.length>1"></th>
                        <th>Попередні покази</th>
                        <th>Поточні покази</th>
                        <th>{{'Різниця,' | unit:commodity}}</th>
                        <th>{{'Ціна за 1,' | unit:commodity}} </th>
                        <th>Нараховано, Грн.</th>
                        <th>Пільга</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let zoneUsage of innerTable.data">
                        <td *ngIf="data.zoneUsages.length>1">{{ zoneUsage.name }}</td>
                        <td>{{ zoneUsage.previousMeterReading }}</td>
                        <td>{{ zoneUsage.presentMeterReading }}</td>
                        <td>{{ zoneUsage.units }}</td>
                        <td>{{ zoneUsage.priceValue }}</td>
                        <td>{{ zoneUsage.charge | number : '1.2' }}</td>
                        <td>{{ zoneUsage.discountUnits | unit:commodity}} / {{ zoneUsage.discount | number : '1.2' }} Грн.</td>
                      </tr>
                    </tbody>
                </nz-table>
            </tr>
        </ng-template>
    </tbody>
</nz-table>