<nz-table [nzShowPagination]="false" #tariffsTable [nzData]="tariffs" nzTitle="Довідник тарифів">
    <thead>
        <tr>
          <th></th>
          <th>Назва</th>
          <th></th>
        </tr>
      </thead>
    <tbody>
        <ng-template ngFor let-tariff [ngForOf]="tariffsTable.data">
            <tr>
                <td nzShowExpand [(nzExpand)]="tariff.expand"></td>
                <td>
                    <ng-container *ngIf="editRowId!=tariff.id; else nameInputTpl">
                        {{ tariff.name }}
                    </ng-container>
                    <ng-template #nameInputTpl>
                        <input type="text" nz-input [(ngModel)]="tariff.name" />
                    </ng-template>
                </td>
                <td>
                    <a title="Редагувати запис"><i nz-icon nzType="edit" nzTheme="outline"
                            *ngIf="editRowId!=tariff.id; else saveCancelBtnsTpl" (click)="editRowId=tariff.id"
                            class="edit-icon"></i></a>
                    <ng-template #saveCancelBtnsTpl>
                        <a title="Зберегти"><i nz-icon nzType="save" nzTheme="outline" class="edit-icon"
                                (click)="updateTariff(tariff)"></i></a>
                        <a title="Скасувати"><i nz-icon nzType="undo" nzTheme="outline" class="edit-icon"
                                (click)="editRowId=-1"></i></a>
                    </ng-template>
                </td>
            </tr>
            <tr [nzExpand]="tariff.expand">
                    <nz-table [nzShowPagination]="false" #tariffRatesTable [nzData]="tariff.rates">
                        <thead>
                            <tr>
                                <th>Дата початку дії</th>
                                <th>Значення, Грн.</th>
                                <th *ngIf="tariff.commodity==1">Споживання, кВт⋅год</th>
                                <th *ngIf="tariff.commodity==1">Споживання в опалювальний період, кВт⋅год</th>
                                <th *ngIf="tariff.commodity==1">Почтаок опалювального періоду</th>
                                <th *ngIf="tariff.commodity==1">Кінець опалювального періоду</th>
                                <th><a (click)="addNewRate(tariff)" title="Нове значення"><i nz-icon
                                            nzType="plus-circle" nzTheme="outline"></i></a></th>
                            </tr>
                        </thead>
    <tbody>
        <tr *ngFor="let rate of tariff.rates">
            <td>{{ rate.startDate | date:'mediumDate' }}</td>
            <td>{{ rate.value | number:'1.2-6'}}</td>
            <td *ngIf="tariff.commodity==1">{{ rate.consumptionLimit }}</td>
            <td *ngIf="tariff.commodity==1">{{ rate.heatingConsumptionLimit }}</td>
            <td *ngIf="tariff.commodity==1">{{ rate.heatingStartDay | date:'d MMMM' }}</td>
            <td *ngIf="tariff.commodity==1">{{ rate.heatingEndDay | date:'d MMMM'}}</td>
            <td>
                <span class="table-operation">
                    <a title="Редагувати запис" (click)="editRate(tariff.id, rate)"><i nz-icon nzType="edit"
                            nzTheme="outline"></i></a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a class="operation" title="Видалити запис"><i nz-icon nzType="delete" nzTheme="outline"
                            (click)="deleteRate(tariff.id, rate.id)"></i></a>
                </span>
            </td>
        </tr>
    </tbody>
</nz-table>


</tr>
</ng-template>
</tbody>
</nz-table>
<app-tariff-rate></app-tariff-rate>