<nz-layout class="app-layout">
  <nz-drawer
    [nzVisible]="visibilityDrawer"
    [nzPlacement]="placementDrawer"
    [nzBodyStyle]="{ 'height': '100%', 'padding': '0px', background: '#001529'}"
    (nzOnClose)="visibilityDrawer = false"
  >
      <div class="sidebar-logo">
        <a href="https://www.ztoek.com.ua/" target="_blank">
          <img src="../assets/logo.jpg" alt="logo">
          <h1>ТОВ "ЖОЕК"</h1>
        </a>
      </div>
      <ul nzTheme="dark" nz-menu nzMode="inline" >
        <li nz-menu-item nzSelected routerLink="/" (click)="visibilityDrawer = false">
          <i nz-icon><svg-icon src="assets/users.svg" [svgStyle]="{ 'width.px':16 }"></svg-icon></i>
          <span>Споживачі</span>
        </li>
        <li nz-submenu nzTitle="Інше" nzIcon="appstore">
          <ul>
            <li nz-menu-item nzMatchRouter routerLink="/accounting-point-new" (click)="visibilityDrawer = false">
              <i nz-icon nzType="plus"></i>
              <span>Нова точку обліку</span>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Налаштування" nzIcon="setting">
          <ul>
            <li nz-menu-item><a [routerLink]="['/tariffs']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" (click)="visibilityDrawer = false">Тарифи</a></li>
          </ul>
        </li>
      </ul>
  </nz-drawer>
  <nz-layout>
    <nz-header>
      <div class="app-header" nz-row >
        <div class="header-trigger" nz-col nzSpan="1">
            <i nz-icon nzType="menu" nzTheme="outline" (click)="visibilityDrawer = true" class="trigger"></i>
        </div>
        <div nz-col nzSpan="18" >
          <app-accounting-points-search></app-accounting-points-search>
        </div>
        <div nz-col nzSpan="3" >
          <nz-select [(ngModel)]="selectedBranchOffice.id" nzAllowClear class="local-office-select" nzPlaceHolder="Виберіть ЦОК">
            <nz-option *ngFor="let branchOffice of branchOfficesList" [nzValue]="branchOffice.id" [nzLabel]="branchOffice.name"></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="1" style="display: flex; justify-content: flex-end">
          <a title="{{currentUser}}">
              <nz-avatar
                nzIcon="user"
                [nzSize]="32"
                nz-popover
                nzPopoverTitle="Ви увійшли як: {{currentUser}}"
                nzPopoverTrigger="click"
                [nzPopoverContent]="userMenu"
                nzPopoverPlacement="bottomRight"
                style="background-color:#1d3d79;">
              </nz-avatar>
          </a>
          <ng-template #userMenu>
            <a nz-button (click)="logout()" class="header-user-menu-item">Вихід</a>
          </ng-template>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
