<nz-layout class="app-layout">
  <nz-drawer
    [nzVisible]="visibilityDrawer"
    [nzPlacement]="placementDrawer"
    [nzBodyStyle]="{ 'height': '100%', 'padding': '0px', background: '#001529'}"
    (nzOnClose)="visibilityDrawer = false"
  >
      <div class="sidebar-logo">
        <a href="https://www.ztoek.com.ua/" target="_blank">
          <img src="../assets/logo.jpg" alt="logo">
          <h1>ТОВ "ЖОЕК"</h1>
        </a>
      </div>
      <ul nzTheme="dark" nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item nzSelected routerLink="/welcome" (click)="visibilityDrawer = false">
          <i nz-icon><svg-icon src="assets/users.svg" [svgStyle]="{ 'width.px':16 }"></svg-icon></i>
          <span>Споживачі</span>
        </li>
        <li nz-submenu nzTitle="Інше" nzIcon="appstore">
          <ul>
            <li nz-menu-item nzMatchRouter routerLink="/add-recordpoint" (click)="visibilityDrawer = false">
              <i nz-icon nzType="plus"></i>
              <span>Нова точку обліку</span>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Параметри" nzIcon="setting">
          <ul>
            <li nz-menu-item>Тарифи</li>
          </ul>
        </li>
      </ul>
  </nz-drawer>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger">
            <i nz-icon nzType="menu" nzTheme="outline" (click)="visibilityDrawer = true"></i>
        </span>
        <span class="header-right" >
          <nz-select [(ngModel)]="selectedBranchOffice" nzAllowClear class="local-office-select" nzPlaceHolder="Виберіть ЦОК">
            <nz-option *ngFor="let branchOffice of branchOfficesList" [nzValue]="branchOffice.id" [nzLabel]="branchOffice.name"></nz-option>
          </nz-select>
        </span>
        <span class="header-user">
          <a title="{{(currentUser | async)}}">
              <nz-avatar
                nzIcon="user"
                [nzSize]="32"
                nz-popover
                nzPopoverTitle="Ви увійшли як: {{(currentUser | async)}}"
                nzPopoverTrigger="click"
                [nzPopoverContent]="userMenu"
                nzPopoverPlacement="bottomRight"
                style="background-color:#1d3d79;">
              </nz-avatar>
          </a>
          <ng-template #userMenu>
            <a nz-button (click)="logout()" class="header-user-menu-item">Вихід</a>
          </ng-template>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
