<form nz-form [formGroup]="companyForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="name">Адреса</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Не введено назву (особового рахунку) точки обліку">
      <input id="name" type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="name">Назва (особовий рахунок)</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Не введено назву (особового рахунку) точки обліку">
      <input id="name" type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="name">Назва (особовий рахунок)</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Не введено назву (особового рахунку) точки обліку">
      <input id="name" type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="name">Назва (особовий рахунок)</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Не введено назву (особового рахунку) точки обліку">
      <input id="name" type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="name">Назва (особовий рахунок)</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Не введено назву (особового рахунку) точки обліку">
      <input id="name" type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="name">Назва (особовий рахунок)</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Не введено назву (особового рахунку) точки обліку">
      <input id="name" type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="name">Назва (особовий рахунок)</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Не введено назву (особового рахунку) точки обліку">
      <input id="name" type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>
</form>