<div style="text-align: center;">
<h1>Друк рахунків</h1>
</div>
<div nz-row>
  <div nz-col [nzSpan]="4" nzOffset="10">
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-control [nzSpan]="18">
          <nz-radio-group formControlName="fileType">
            <label nz-radio nzValue="0">Друк Xerox</label>
            <label nz-radio nzValue="1">Друк ЦОК</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired nzFor="branchOfficeId">ЦОК</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="Не обрано ЦОК">
          <nz-select nzPlaceHolder="Оберіть ЦОК" formControlName="branchOfficeId" (ngModelChange)="branchOfficeChanged($event)">
            <nz-option *ngFor="let branchOffice of branchOffices" [nzValue]="branchOffice.id" [nzLabel]="branchOffice.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired nzFor="commodity">Товар</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="Не обрано товар">
          <nz-select nzPlaceHolder="Оберіть ЦОК" formControlName="commodity">
            <nz-option *ngFor="let commodity of availableCommodities" [nzValue]="commodity.value" [nzLabel]="commodity.title"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired nzFor="periodId">Період</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="Не обрано період">
          <nz-select nzPlaceHolder="Оберіть період" [nzLoading]=isLoadingPeriods formControlName="periodId">
            <nz-option *ngFor="let period of periods" [nzValue]="period.id" [nzLabel]="period.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
        <div  style="text-align:right">
          <button nz-button nzType="primary" [nzLoading]="isSubmit" (click)="submitForm()" [disabled]="form.invalid">Отримати</button>
        </div>
    </form>
  </div>
</div>