/* .general-info
{
    background: linear-gradient(to right, #91cde5, #bc82e2);
}

.invoices-info
{
    background: linear-gradient(to right, #e5d691, #aec4f3);
}

.payments-info
{
    background: linear-gradient(to right, #9be4c0, #f3aecb);
} */