<ng-template #titleTemplate>
  <nz-row nzJustify="space-between" nzAlign="middle" nzGutter="12">
    <nz-col>
      <span>Список податкових накладних</span>
    </nz-col>
    <nz-col>
      <nz-space [nzSize]="8">
        <nz-space-item>
          <nz-select [(ngModel)]="selectedBranchOffice" (ngModelChange)="onChangeBranchOffice($event)" nzPlaceHolder="Оберіть ЦОК">
            <nz-option *ngFor="let branchOffice of branchOfficesList" [nzValue]="branchOffice" [nzLabel]="branchOffice.name"></nz-option>
          </nz-select>
        </nz-space-item>
      </nz-space>
    </nz-col>
  </nz-row>
</ng-template>
<nz-table
  #taxInvoicesTable
  [nzData]="taxInvoicesList"
  [nzFrontPagination]="false"
  [nzTotal]="totalCount"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageNumber"
  [nzShowSizeChanger]="true"
  [nzLoading]="isLoading"
  [nzTitle]="titleTemplate"
  [nzFooter]="totalCount ? 'Всього: ' + totalCount : null"
  nzSize="small"
  nzBordered="true"
>
  <thead>
    <tr>
      <th>Товари/послуги</th>
      <th>Дата забов'язань</th>
      <th>Кількість (обсяг)</th>
      <th>Ціна без ПДВ, Грн.</th>
      <th>База оподаткування, Грн.</th>
      <th>Сума ПДВ, Грн.</th>
      <th>Дата формування</th>
      <th>Завнтажити</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tx of taxInvoicesTable.data">
      <td>{{ tx.type }}</td>
      <td>{{ tx.liabilityDate | date: dateFormat }}</td>
      <td>{{ tx.energyAmount }}</td>
      <td>{{ tx.tariffValue }}</td>
      <td>{{ tx.liabilitySum }}</td>
      <td>{{ tx.taxSum }}</td>
      <td>{{ tx.creationDate | date: dateFormat }}</td>
      <td nzAlign="center">
        <a title="Завантажити"><i nz-icon nzType="download" nzTheme="outline" (click)="downloadInvoice(tx.id)"></i></a>
      </td>
    </tr>
  </tbody>
</nz-table>
