.marker {
    padding: 6px 8px;
    margin: 4px 6px 4px 0px;
    border-radius: 4px;
}

    i {
        margin-top: 22px;
    }

    .common {
        background-color: #2196f3;
        color: rgb(243, 243, 243);
    }

    .payment {
        background-color: #4caf50;
        color: rgb(243, 243, 243);
    }

    .branch-office {
        background-color: #d1c4e9;
        color: rgb(44, 44, 44);
    }