<h2>Нова пачка платежів</h2>

<form nz-form [formGroup]="paymentBatchForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="branchOfficeId" nzRequired>ЦОК</nz-form-label>
    <nz-form-control [nzSpan]="10" nzErrorTip="Не обрано ЦОК">
      <nz-select nzPlaceHolder="Виберіть ЦОК" formControlName="branchOfficeId">
        <nz-option *ngFor="let branchOffice of branchOfficesList" [nzValue]="branchOffice.id" [nzLabel]="branchOffice.name">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="paymentChannelId" nzRequired>Канал оплати</nz-form-label>
    <nz-form-control [nzSpan]="10" nzErrorTip="Не обрано канал оплати">
      <nz-select nzPlaceHolder="Виберіть канал оплати" formControlName="paymentChannelId">
        <nz-option *ngFor="let paymentChannel of paymentChannelsList" [nzValue]="paymentChannel.id" [nzLabel]="paymentChannel.name">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired nzFor="dateComing">Дата надходження</nz-form-label>
    <nz-form-control [nzSpan]="10" nzErrorTip="Не обрано дату налходження">
      <nz-date-picker [nzFormat]="dateFormat" formControlName="dateComing" [nzDisabledDate]="datesMoreToday"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="6"></nz-form-control>
    <nz-form-control [nzSpan]="10" nzErrorTip="Не обрано дату налходження">
      <nz-upload
          nzType="drag"
          [nzMultiple]="false"
        >
          <p class="ant-upload-drag-icon">
            <i nz-icon nzType="inbox"></i>
          </p>
          <p class="ant-upload-text">Натисніть або перетягніть файл сюди</p>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="6" [nzSpan]="10">
      <button type="submit" nz-button nzType="primary">Відправити</button>
      <button type="button" nz-button (click)="resetForm()">Очистити</button>
    </nz-form-control>
  </nz-form-item>
</form>
